# Files with big amount of data
data/*/
weights/*.mat
weights/*.jld2
weights/*.jld
weights/*.params
weights/*.json

# Extra Cache Files
.DS_Store
.vscode
.ipynb_checkpoints

# Virtual Environments
venv
venv/*

# Cluster Files
*.sh
*.log
*log.txt
*.txt

# Temporary files
*.ipynb
